div {
    box-sizing: border-box;
}

.list {
    padding-left: 10%;
    text-align: left;
    border-bottom: 1px solid grey;
}

.sibal {
    text-align: right;
    margin-right: 10%;
    font-size: 20px;
}

.fuck {
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    background-color: whitesmoke;
    border: none;
}

.letter {
    font-size: 20px;
}